@import "./variables.css";
@import "./navbar.css";
@import "./button.css";

main {
  height: calc(100% - var(--header-height));
}

.main-section {
  display: grid;
  height: 100%;
  grid-template-columns: 130px 1fr 1fr;
  grid-template-areas: ". text image";
}

.text-area {
  grid-area: text;
  align-self: center;
}

.image-area {
  grid-area: image;
  align-self: center;
}

.image-area img {
  max-width: 1000px;
}

.text-area__title, .text-area__subtitle {
  color: var(--color-foreground);
  margin-bottom: 16px;
  font-weight: 500;
}

.text-area__title {
  font-size: 3.5rem;
}

.text-area__subtitle {
  font-size: 1.5rem;
}

@media screen and (max-width: 1360px) {
  .image-area img {
    max-width: 800px;
  }
}


@media screen and (max-width: 1160px) {
  .image-area img {
    max-width: 600px;
  }
}

@media screen and (max-width: 1000px) {
  .image-area img {
    max-width: 400px;
  }
}
