@import "./variables.css";
@import "./navbar.css";
@import "./button.css";

main {
  height: calc(100% - var(--header-height));
}

.main-section {
  display: grid;
  height: 100%;
  grid-template-columns: 130px 1fr 1fr;
  grid-template-areas: ". text background";
}

.text-area {
  grid-area: text;
  align-self: center;
}

.background-area {
  grid-area: background;
  align-self: center;
}

.text-area__title, .text-area__subtitle {
  color: var(--color-foreground);
  margin-bottom: 16px;
  font-weight: 500;
}

.text-area__title {
  font-size: 3.5rem;
}

.text-area__subtitle {
  font-size: 1.5rem;
}
